<div>
  <label for="keyword">Keyword:</label> <input id="keyword" type="text" placeholder="e.g. 'Simpsons'" [(ngModel)]="keyword" />
</div>
<div>
  <label for="startDate">StartDate:</label> <input id="startDate" type="text" placeholder="15.03.2018" [(ngModel)]="startDate"/>
</div>
<div>
  <label for="endDate">EndDate:</label> <input id="endDate" type="text" placeholder="15.03.2018" [(ngModel)]="endDate"/>
</div>

<button (click)="getInterestOverTime()">Get Data</button>

<pre>{{ response$ | async | json }}</pre>
